*.suo
/.vs/VbaHelpers/v14/.suo
/GenerateVbaEnumHelpers/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GenerateVbaEnumHelpers/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GenerateVbaEnumHelpers/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GenerateVbaEnumHelpers/obj/Release/Interop.Microsoft.Office.Core.dll
/GenerateVbaEnumHelpers/obj/Release/ILTemplate.cs
/GenerateVbaEnumHelpers/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/GenerateVbaEnumHelpers/obj/Release/Costura/9D01927E954449E63800944590FB6789DFA2BCE7.costura.johan.extensions.serialization.pdb.zip
/GenerateVbaEnumHelpers/obj/Release/Costura/8D6E889A675056BDB0DFD580C6D6F845F20AB56A.costura.johan.extensions.serialization.dll.zip
/GenerateVbaEnumHelpers/obj/Release/Costura/87B2CD98B7CC5BEB5DFE5153B5F344D233C596DB.costura.johan.extensions.xml.dll.zip
/GenerateVbaEnumHelpers/obj/Release/Costura/6D5AF945CA75798867461B8F5F93CFEB7C1A3CDD.costura.johan.extensions.console.pdb.zip
/GenerateVbaEnumHelpers/obj/Release/Costura/5E56CCE1D7A76B080C53612ED9FC6277C83D8F39.costura.johan.extensions.xml.pdb.zip
/GenerateVbaEnumHelpers/obj/Release/Costura/0F007324F30C293A125D6B0E5A62A377F15D96BA.costura.johan.extensions.console.dll.zip
/GenerateVbaEnumHelpers/obj/Release/ConsoleApplication2.pdb
/GenerateVbaEnumHelpers/obj/Release/ConsoleApplication2.exe
/GenerateVbaEnumHelpers/obj/Release/ConsoleApplication2.csprojResolveAssemblyReference.cache
/GenerateVbaEnumHelpers/obj/Release/ConsoleApplication2.csproj.ResolveComReference.cache
/GenerateVbaEnumHelpers/obj/Release/ConsoleApplication2.csproj.FileListAbsolute.txt
/GenerateVbaEnumHelpers/obj/Release/Common.cs
/GenerateVbaEnumHelpers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GenerateVbaEnumHelpers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GenerateVbaEnumHelpers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GenerateVbaEnumHelpers/obj/Debug/Interop.Microsoft.Office.Core.dll
/GenerateVbaEnumHelpers/obj/Debug/ILTemplate.cs
/GenerateVbaEnumHelpers/obj/Debug/GenerateVbaEnumHelpers.pdb
/GenerateVbaEnumHelpers/obj/Debug/GenerateVbaEnumHelpers.exe
/GenerateVbaEnumHelpers/obj/Debug/GenerateVbaEnumHelpers.csprojResolveAssemblyReference.cache
/GenerateVbaEnumHelpers/obj/Debug/GenerateVbaEnumHelpers.csproj.ResolveComReference.cache
/GenerateVbaEnumHelpers/obj/Debug/GenerateVbaEnumHelpers.csproj.FileListAbsolute.txt
/GenerateVbaEnumHelpers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GenerateVbaEnumHelpers/obj/Debug/Costura/A7F1AE7F869C5CB8327715193C6DFF8773F0DFAD.costura.enumwrapper.pdb.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/9D01927E954449E63800944590FB6789DFA2BCE7.costura.johan.extensions.serialization.pdb.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/8D6E889A675056BDB0DFD580C6D6F845F20AB56A.costura.johan.extensions.serialization.dll.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/8A654FB104F2353550D5B4ECA9449276F646EF0A.costura.enumwrapper.dll.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/87B2CD98B7CC5BEB5DFE5153B5F344D233C596DB.costura.johan.extensions.xml.dll.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/6D5AF945CA75798867461B8F5F93CFEB7C1A3CDD.costura.johan.extensions.console.pdb.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/5E56CCE1D7A76B080C53612ED9FC6277C83D8F39.costura.johan.extensions.xml.pdb.zip
/GenerateVbaEnumHelpers/obj/Debug/Costura/0F007324F30C293A125D6B0E5A62A377F15D96BA.costura.johan.extensions.console.dll.zip
/GenerateVbaEnumHelpers/obj/Debug/ConsoleApplication2.csprojResolveAssemblyReference.cache
/GenerateVbaEnumHelpers/obj/Debug/ConsoleApplication2.csproj.ResolveComReference.cache
/GenerateVbaEnumHelpers/obj/Debug/ConsoleApplication2.csproj.FileListAbsolute.txt
